 @font-face { font-family: Matricula; src: url('matricula.ttf'); } 
 @font-face { font-family: Matricula; font-weight: bold; src: url('matricula.ttf');}
 
h1 { 
    font-family: Matricula, sans-serif; 
    font-size:30px;
    color:white;
}

body{
    background-image: url("porsche.jpg");
    background-color:white;
    background-size:auto;
}

.frosted-glass {
    display:flex;
    justify-content:center;
    width: 36vw;
    height: 35vh;
    box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
      0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
      0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: 0.5s ease;
}


p{

position:absolute;
top:53px;
color:black;
font-size:70px;
right: 180px ;

}

img{
width:400px; height:100px;
}

